[Unit]
Description=Consul Replicate
Requires=network-online.target
After=network-online.target

[Service]
Environment="GOMAXPROCS=`nproc`"
Restart=on-failure
User={{ consul_user }}
Group={{ consul_group }}
PermissionsStartOnly=true
ExecStart={{ consul_replicate_dir }}/consul-replicate -log-level info -prefix "prometheus@dc1"
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
